@import "../../../assets/scss/variable";

table {
  width: 100%;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 20px 15px;
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.15);

  & .table-container {
    max-height: 450px;
    overflow: auto;
  }
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-form-field {
  width: 40%;
}
.mat-column-id {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-areaName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 calc(100% - 20% - 230px) !important;
  width: calc(100% - 20% - 230px) !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-unit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-actions {
  width: 100px;
}

.table-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  max-height: 170px !important;
  min-width: 150px !important;
}
.title-menu,
.content-menu {
  display: block;
}
.title-menu {
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}
.content-menu {
  margin-left: 20px;
}

tr.app-detail-row {
  height: 0;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}

.app-element-row td {
  border-bottom-width: 0;
}

.app-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.app-elemenet-content {
  margin-top: 15px;
}

