@import "../../../variable";

table {
  width: 100%;
}

.wrapper {
  margin-bottom: 30px;
  padding: 20px 15px;
  position: relative;
}

.table-container {
  max-height: 450px;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-form-field {
  width: 40%;
}
.mat-column-id {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-areaName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 calc(100% - 40% - 200px) !important;
  width: calc(100% - 40% - 200px) !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-actions {
  width: 100px;
}

.menu {
  max-height: 170px !important;
  min-width: 150px !important;
}
.title-menu,
.content-menu {
  display: block;
}
.title-menu {
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}
.content-menu {
  margin-left: 20px;
}

tr.app-detail-row {
  height: 0;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}

.app-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.app-elemenet-content {
  margin-top: 15px;
}

