<app-page-loading *ngIf="loading"></app-page-loading>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-back-button [routerLink]="['/giong-bo']"></app-back-button>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="app-title m-bottom-25"
  >
    <h2>Thông tin giống bò</h2>
    <app-button
      [matMenuTriggerFor]="optionsPanel"
      [iconName]="'more_horiz'"
      [customClasses]="['app-button-option']"
    >
    </app-button>

    <mat-menu #optionsPanel="matMenu" xPosition="before">
      <app-menu-item
        [iconName]="'file_download'"
        [menuItemContent]="'Khẩu phần ăn chuẩn'"
        (click)="getStandardServing()"
      ></app-menu-item>
      <mat-divider></mat-divider>
      <app-menu-item
        [iconName]="'edit'"
        [menuItemContent]="'Cập nhật'"
        (click)="updateCowBreed(cowBreed._id)"
      ></app-menu-item>
      <mat-divider></mat-divider>
      <app-menu-item
        [iconName]="'delete_outline'"
        [menuItemContent]="'Xoá'"
        (click)="onDelete()"
      ></app-menu-item>
    </mat-menu>
  </div>
  <div class="content">
    <div fxLayout="row" class="m-bottom-20">
      <div fxFlex="25">
        <span class="font-weight-bold">Tên giống bò</span>
      </div>
      <div fxFlex>
        <span>{{ cowBreed.name }}</span>
      </div>
    </div>

    <div fxLayout="row" class="m-bottom-20">
      <div fxFlex="25">
        <span class="font-weight-bold">Thời gian nuôi</span>
      </div>
      <div fxFlex>
        <span>{{ cowBreed.farmingTime }} ngày</span>
      </div>
    </div>
    <div class="period-list">
      <div
        class="period-list-item"
        *ngFor="let period of cowBreed.periods; index as i"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="period-list-item-header"
        >
          <span class="font-weight-bold">Giai đoạn: {{ period.name }}</span>
          <app-button-icon
            [iconName]="'info'"
            matTooltip="Thông tin"
            [routerLink]="['giai-doan', period._id]"
          ></app-button-icon>
        </div>
        <div class="period-list-item-content">
          <div style="width: 85%; margin: 0 auto">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="m-bottom-20"
            >
              <div fxFlex="25">
                <span class="font-weight-bold">Ngày bắt đầu</span>
              </div>
              <div fxFlex>
                <span>{{ period.startDay }}</span>
              </div>
            </div>
          </div>

          <div style="width: 85%; margin: 0 auto">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="m-bottom-20"
            >
              <div fxFlex="25">
                <span class="font-weight-bold">Ngày kết thúc</span>
              </div>
              <div fxFlex>
                <span>{{ period.endDay }}</span>
              </div>
            </div>
          </div>

          <div style="width: 85%; margin: 0 auto">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="m-bottom-20"
            >
              <div fxFlex="25">
                <span class="font-weight-bold">Cân nặng</span>
              </div>
              <div fxFlex>
                <span>{{ period.weight }} kg</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
