<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
  <h2>Thay đổi mật khẩu</h2>
  <app-button-icon
    [iconName]="'close'"
    matTooltip="Đóng"
    (click)="onClose()"
  ></app-button-icon>
</div>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="m-bottom-25">
    <div fxFlex="25">
      <span class="font-weight-bold">Người dùng</span>
    </div>
    <div fxFlex>
      <span>{{ user.name }}</span>
    </div>
  </div>
  <mat-form-field appearance="outline" style="width: 100%" floatLabel="always">
    <mat-label>Mật khẩu mới</mat-label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      matInput
      maxlength="100"
      [(ngModel)]="password"
      autocomplete="new-password"
      name="password"
      readonly
    />
    <mat-icon
      matSuffix
      [matTooltip]="showPassword ? 'Ẩn mật khẩu' : 'Hiện mật khẩu'"
      class="material-icons-outlined app-icon"
      style="cursor: pointer"
      (click)="showPassword = !showPassword"
      >{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-icon
      matSuffix
      matTooltip="Sao chép"
      class="material-icons-outlined app-icon"
      style="cursor: pointer; margin-left: 5px"
      (click)="onCopyToClipBoard()"
      [cdkCopyToClipboard]="password"
      >content_copy</mat-icon
    >
  </mat-form-field>
</div>
<div mat-dialog-actions class="button-group">
  <app-button
    [customClasses]="['app-button-brown']"
    [buttonContent]="'Khởi tạo'"
    [disabledCondition]="loading"
    [showSpinner]="loading"
    (click)="resetPassword()"
  ></app-button>
  <app-button
    [customClasses]="['app-button-grey']"
    [buttonContent]="'Đóng'"
    (click)="onClose()"
  ></app-button>
</div>
