<h2 mat-dialog-title>
  <div class="app-title m-bottom-25">Khôi phục mật khẩu</div>
</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field
      appearance="outline"
      style="width: 100%"
      floatLabel="always"
    >
      <mat-label>Mật khẩu mới</mat-label>
      <input
        [type]="showPassword ? 'text' : 'password'"
        matInput
        maxlength="100"
        [(ngModel)]="password"
        autocomplete="new-password"
        name="password"
        readonly
      />
      <mat-icon
        matSuffix
        [matTooltip]="showPassword ? 'Ẩn mật khẩu' : 'Hiện mật khẩu'"
        class="material-icons-outlined app-icon"
        style="cursor: pointer"
        (click)="showPassword = !showPassword"
        >{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-icon
        matSuffix
        matTooltip="Sao chép"
        class="material-icons-outlined app-icon"
        style="cursor: pointer; margin-left: 5px;"
        [cdkCopyToClipboard]="password"
        >content_copy</mat-icon
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="button-group">
  <app-button
    [customClasses]="['app-button-brown']"
    [buttonContent]="'Khôi phục'"
    [disabledCondition]="loading"
    [showSpinner]="loading"
    (click)="resetPassword()"
  ></app-button>
  <app-button
    [customClasses]="['app-button-grey']"
    [buttonContent]="'Huỷ bỏ'"
    (click)="onClose()"
  ></app-button>
</div>
