<app-loading *ngIf="loading"></app-loading>
<div class="wrapper" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between start" fxLayoutGap="30px"
  *ngIf="!loading">
  <!-- Form for update user info -->
  <div class="update-user" fxFlex="60%" fxLayout="center center">
    <mat-card fxLayout="center center">
      <div class="update-user__banner">
        <span>Chỉnh sửa tài khoản</span>
      </div>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Thông tin cá nhân">
          <ng-template matTabContent>
            <div class="update-user__form">
              <form [formGroup]="updateInfoForm" (ngSubmit)="onUpdateUserInfo()">
                <!-- Name -->
                <mat-form-field appearance="outline">
                  <mat-label>Họ tên <span class="color-red">(*)</span></mat-label>
                  <input type="text" matInput formControlName="name" />
                  <mat-error *ngIf="f1.name.errors?.required">Họ tên không được trống.</mat-error>
                  <mat-error *ngIf="f1.name.errors?.inValid">Họ tên không hợp lệ.</mat-error>
                  <mat-error *ngIf="f1.name.errors?.minlength">Tên phải ít nhất 3 ký tự.</mat-error>
                </mat-form-field>

                <!-- Phone -->
                <mat-form-field appearance="outline">
                  <mat-label>Số điện thoại</mat-label>
                  <input type="text" matInput formControlName="phone" />
                  <mat-error *ngIf="f1.phone.errors?.required">Số điện thoại không được trống.</mat-error>
                  <mat-error *ngIf="f1.phone.errors?.pattern">Số điện thoại không đúng định dạng.</mat-error>
                </mat-form-field>

                <!-- Phone -->
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" />
                  <mat-error *ngIf="f1.email.errors?.required">Email không được trống.</mat-error>
                  <mat-error *ngIf="f1.email.errors?.email">Email không đúng định dạng.</mat-error>
                </mat-form-field>

                <!-- Address -->
                <mat-form-field appearance="outline">
                  <mat-label>Khu vực <span class="color-red">(*)</span></mat-label>
                  <mat-select [(value)]="user.idArea" formControlName="idArea">
                    <mat-option *ngFor="let area of areas" [value]="area._id">
                      {{ area.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="button-group">
                  <app-button [customClasses]="['app-button-brown']" [buttonContent]="'Cập nhật'"
                    [buttonType]="'submit'" [disabledCondition]="
                      !updateInfoForm.valid ||
                      !updateInfoForm.dirty ||
                      submitted
                    " [showSpinner]="submitted"></app-button>

                  <app-button [customClasses]="['app-button-grey']" [buttonContent]="'Huỷ bỏ'" [buttonType]="'button'"
                    (click)="resetUserInfo()"></app-button>
                </div>
              </form>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Đổi mật khẩu">
          <ng-template matTabContent>
            <div class="update-user__form">
              <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <!-- New password -->
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Mật khẩu mới</mat-label>
                  <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="newPassword" />
                  <mat-icon matSuffix [matTooltip]="
                      showPassword ? 'Ẩn mật khẩu' : 'Hiện mật khẩu'
                    " class="material-icons-outlined app-icon" style="cursor: pointer"
                    (click)="showPassword = !showPassword">{{
                    showPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  <mat-error *ngIf="f2.newPassword.errors?.required">Mật khẩu mới không được trống.</mat-error>
                  <mat-error *ngIf="f2.newPassword.errors?.minlength">Mật khẩu mới phải có ít nhất 3 ký tự.</mat-error>
                </mat-form-field>

                <!-- Confirm password -->
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Nhập lại mật khẩu</mat-label>
                  <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="confirmPassword" />
                  <mat-icon matSuffix [matTooltip]="
                      showPassword ? 'Ẩn mật khẩu' : 'Hiện mật khẩu'
                    " class="material-icons-outlined app-icon" style="cursor: pointer"
                    (click)="showPassword = !showPassword">{{
                    showPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  <mat-error *ngIf="f2.confirmPassword.errors?.required">Nhập lại mật khẩu không được trống.</mat-error>
                  <mat-error *ngIf="f2.confirmPassword.errors?.minlength">Nhập lại mật khẩu phải có ít nhất 3 ký tự.
                  </mat-error>
                  <mat-error *ngIf="f2.confirmPassword.errors?.mustMatch">Nhập lại mật khẩu không khớp.</mat-error>
                </mat-form-field>

                <!-- Button group -->
                <div class="button-group">
                  <button mat-raised-button class="app-button app-button-brown" type="submit" [disabled]="
                      !changePasswordForm.valid ||
                      !changePasswordForm.dirty ||
                      submitted
                    ">
                    <mat-spinner diameter="16" style="display: inline-flex; margin-right: 10px" *ngIf="submitted">
                    </mat-spinner>
                    Đổi mật khẩu
                  </button>
                  <button mat-raised-button type="reset" class="app-button app-button-grey">
                    Huỷ bỏ
                  </button>
                </div>
              </form>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <!-- User info card -->
  <div class="user-info" fxFlex="40%" fxLayout="center center">
    <mat-card>
      <div class="user-info__avatar">
        <img src="assets/images/avatar.png" alt="User avatar" />
      </div>
      <div class="user-info__description">
        <p class="user-info__role">{{ transformRoleName(user.role) }}</p>
        <p class="user-info__name">{{ user.name }}</p>
        <div class="user-info__contact">
          <p class="user-info__phone">
            <span>Số điện thoại</span>
            <span>{{ !!user.phone ? user.phone : "[...]" }}</span>
          </p>
          <p class="user-info__mail">
            <span>Email</span>
            <span>{{ !!user.email ? user.email : "[...]" }}</span>
          </p>
          <p class="user-info__address">
            <span>Khu vực</span>
            <span>{{ user.areaName }}</span>
          </p>
          <p class="user-info__joined">
            <span>Ngày tham gia</span>
            <span>{{ transformDate(user.createdAt) }}</span>
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
