@import '../../../_variable';

.back-button {
  background: #fff;
  position: fixed;
  top: 20px;
  left: 230px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}
