<div class="loading-card bg-white rounded shadow">
  <!-- <div class="loading-header">
    <div class="loading-img"></div>
    <div class="loading-details">
      <span class="loading-name"></span>
      <span class="loading-about"></span>
    </div>
  </div> -->
  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

</div>