<div class="loading-card bg-white rounded shadow">
  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

  <div class="loading-content">
    <div class="loading-line line-1"></div>
    <div class="loading-line line-2"></div>
    <div class="loading-line line-3"></div>
  </div>

</div>