<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-page-loading *ngIf="loading"></app-page-loading>

<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div *ngIf="error">
    <h2>Không thể tìm thấy hộ dân</h2>
  </div>
  <div *ngIf="!error">
    <div class="d-flex align-items-center justify-content-between m-bottom-25">
      <div class="app-title">
        <h2>Chi tiết</h2>
      </div>
      <app-button
        [matMenuTriggerFor]="optionsPanel"
        [iconName]="'more_horiz'"
        [customClasses]="['app-button-option']"
      ></app-button>

      <mat-menu #optionsPanel="matMenu" xPosition="before">
        <app-menu-item
          [iconName]="'drive_file_rename_outline'"
          [menuItemContent]="'Cập nhật'"
          [routerLink]="['/admin/breeders', 'u', breeder._id]"
        ></app-menu-item>
        <mat-divider></mat-divider>
        <app-menu-item
          [iconName]="'delete_outline'"
          [menuItemContent]="'Xoá'"
          (click)="onDelete()"
        ></app-menu-item>
      </mat-menu>
    </div>
    <div class="content">
      <div class="d-flex m-bottom-20">
        <div class="left">
          <span>Tên hộ dân</span>
        </div>
        <div class="right">
          <span class="font-weight-bold">{{ breeder.name }}</span>
        </div>
      </div>

      <div class="d-flex m-bottom-20">
        <div class="left">
          <span>Email</span>
        </div>
        <div class="right">
          <span class="font-weight-bold">{{
            !!breeder.email ? breeder.email : "..."
          }}</span>
        </div>
      </div>

      <div class="d-flex m-bottom-20">
        <div class="left">
          <span>Số điện thoại</span>
        </div>
        <div class="right">
          <span class="font-weight-bold">{{
            !!breeder.phone ? breeder.phone : "..."
          }}</span>
        </div>
      </div>

      <div class="d-flex m-bottom-20">
        <div class="left">
          <span>Khu vực</span>
        </div>
        <div class="right">
          <span class="font-weight-bold">
            {{ breeder.areaName }}
          </span>
          <a
            target="_blank"
            style="margin-left: 5px; color: #000"
            matTooltip="Bản đồ"
            [href]="'https://www.google.com/maps/place/' + breeder.areaName"
            ><mat-icon class="material-icons-outlined app-icon"
              >place</mat-icon
            ></a
          >
        </div>
      </div>

      <div class="d-flex m-bottom-20">
        <div class="left">
          <span>Tham gia vào</span>
        </div>
        <div class="right">
          <span class="font-weight-bold">{{
            breeder.createdAt | date: "dd/MM/YYYY"
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
