<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-page-loading *ngIf="loading"></app-page-loading>
<app-back-button [routerLink]="['/qtv/ho-chan-nuoi']"></app-back-button>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div *ngIf="error">
    <h2>Không thể tìm thấy hộ dân</h2>
  </div>
  <div *ngIf="!error">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="m-bottom-25"
    >
      <div class="app-title">
        <h2>Chi tiết</h2>
      </div>
      <app-button-icon
        [matMenuTriggerFor]="optionsPanel"
        [iconName]="'more_horiz'"
        matTooltip="Tuỳ chọn"
      >
      </app-button-icon>

      <mat-menu #optionsPanel="matMenu" xPosition="before">
        <app-menu-item
          [iconName]="'edit'"
          [menuItemContent]="'Cập nhật'"
          (click)="updateBreeder(breeder)"
        ></app-menu-item>
        <mat-divider></mat-divider>
        <app-menu-item
          [iconName]="'delete_outline'"
          [menuItemContent]="'Xoá'"
          (click)="onDelete()"
        ></app-menu-item>
      </mat-menu>
    </div>
    <div class="content">
      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Tên hộ dân</span>
        </div>
        <div fxFlex>
          <span>{{ breeder.name }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Email</span>
        </div>
        <div fxFlex>
          <span>{{ !!breeder.email ? breeder.email : "..." }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Số điện thoại</span>
        </div>
        <div fxFlex>
          <span>{{ !!breeder.phone ? breeder.phone : "..." }}</span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Khu vực</span>
        </div>
        <div fxFlex>
          <span>
            {{ breeder.areaName }}
          </span>
          <a
            target="_blank"
            style="margin-left: 5px; color: #000"
            matTooltip="Xem trên bản đồ"
            [href]="'https://www.google.com/maps/place/' + breeder.areaName"
          >
            <mat-icon class="material-icons-outlined app-icon" style="font-size: 1rem;">place</mat-icon>
          </a>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Tham gia vào</span>
        </div>
        <div fxFlex>
          <span>{{ breeder.createdAt }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
