<div
  class="login-wrapper"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10"
>
  <app-progress-bar *ngIf="loading"></app-progress-bar>
  <div
    fxFlex="50%"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="left"
  >
    <div class="logo-brand">
      <span>FeedNote</span>
    </div>
    <div class="describe">
      FeedNote - Quản lý nguồn thức ăn và lên danh sách dinh dưỡng cho đàn gia
      súc.
    </div>
  </div>
  <div fxFlex="50%" class="right" fxLayoutAlign="center center">
    <mat-card class="box">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div
          *ngIf="loginError && !f.username.dirty && !f.password.dirty"
          class="text-error"
        >
          Thông tin tài khoản không hợp lệ.
        </div>
        <mat-form-field
          class="login-full-width"
          appearance="outline"
          floatLabel="always"
        >
          <mat-label>Tên tài khoản</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            autocomplete="username"
          />

          <mat-error *ngIf="f.username.errors?.required"
            >Tên tài khoản không được trống.</mat-error
          >
          <mat-error *ngIf="f.username.errors?.minlength"
            >Tên tài khoản phải có ít nhất 3 ký tự.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          class="login-full-width"
          appearance="outline"
          floatLabel="always"
        >
          <mat-label>Mật khẩu</mat-label>
          <input
            matInput
            type="password"
            autocomplete="current-password"
            formControlName="password"
          />

          <mat-error *ngIf="f.password.errors?.required"
            >Mật khẩu không được trống.</mat-error
          >
          <mat-error *ngIf="f.password.errors?.minlength"
            >Mật khẩu phải có ít nhất 3 ký tự.</mat-error
          >
        </mat-form-field>

        <button
          mat-raised-button
          [disabled]="submitted"
          class="btn-login app-button app-button-brown"
          type="submit"
        >
          Đăng nhập
        </button>
      </form>
    </mat-card>
  </div>
</div>
