<div
  class="login-wrapper"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10"
>
  <div
    fxFlex="50%"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="left"
  >
    <div class="logo-brand">
      <span>FeedNote</span>
    </div>
    <div class="describe">
      FeedNote will help you manage and help farmers in feeding cows!
    </div>
  </div>
  <div fxFlex="50%" class="right" fxLayoutAlign="center center">
    <mat-card class="box">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()" >
        <mat-form-field class="login-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />

          <mat-error *ngIf="f.username.errors?.required">Username is required.</mat-error>
          <mat-error *ngIf="f.username.errors?.minlength">Username has to be at least 5 characters.</mat-error>
          <mat-error *ngIf="loginError">Your username or password is incorrect. Try again.</mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input  matInput type="password" type="password" formControlName="password" />

          <mat-error *ngIf="f.password.errors?.required">Password is required.</mat-error>
          <mat-error *ngIf="f.password.errors?.minlength">Password has to be at least 5 characters.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn-login" type="submit">Login</button>
      </form>
    </mat-card>
  </div>
</div>
