<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box rounded border bg-white">
      <div fxLayout="column" fxLayoutGap="10px" class="header m-bottom-25">
        <span class="title">FeedN<span class="color-brown">o</span>te</span>
        <span class="caption">Ứng dụng hỗ trợ tính toán khẩu phần ăn cho đàn bò</span>
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div
          *ngIf="loginError && !f.username.dirty && !f.password.dirty"
          class="text-error"
        >
          Thông tin tài khoản chưa chính xác.
        </div>
        <div
          *ngIf="isBreeder"
          class="text-warning"
        >
          Ứng dụng chưa hỗ trợ cho hộ chăn nuôi.
        </div>
        <mat-form-field
          class="login-full-width"
          appearance="outline"
          floatLabel="never"
        >
          <mat-label>Tên tài khoản</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            autocomplete="username"
          />

          <mat-error *ngIf="f.username.errors?.required"
            >Tên tài khoản không được trống.</mat-error
          >
          <mat-error *ngIf="f.username.errors?.minlength"
            >Tên tài khoản phải có ít nhất 3 ký tự.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          class="login-full-width"
          appearance="outline"
          floatLabel="never"
        >
          <mat-label>Mật khẩu</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
            formControlName="password"
          />

          <mat-error *ngIf="f.password.errors?.required"
            >Mật khẩu không được trống.</mat-error
          >
          <mat-error *ngIf="f.password.errors?.minlength"
            >Mật khẩu phải có ít nhất 3 ký tự.</mat-error
          >
        </mat-form-field>

        <button
          mat-flat-button
          [disabled]="submitted"
          class="btn-login app-button app-button-brown"
          type="submit"
        >
          Đăng nhập
        </button>

      </form>
    </mat-card>
  </div>
  <div class="curve"></div>
</div>
