@import "../../variable";

.login-wrapper {
  min-height: 100vh;
  // background: url('/assets/images/background.jpg') no-repeat center center fixed;
  background: #f3f4f6;
  box-sizing: border-box;
  // clip-path: ellipse(84% 100% at 25.52% 0%);
  // background: #f0f2f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 40px 50px;
  width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  width: 100%;
  max-width: 350px;
  // box-shadow: 0 0px 25px rgb(0 0 0 / 20%) !important;

  & .header {
    & .title {
      font-weight: 500;
      font-size: 1.75rem;
      letter-spacing: 1px;
    }
    & .caption {
      font-size: 0.8rem;
      color: grey;
    }
  }
}
.login-wrapper .login-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
  z-index: 999;
}
.login-wrapper .login-full-width,
.login-wrapper .btn-login {
  width: 100%;
}
.login-wrapper .mat-card {
  padding: 45px 45px 55px;
}
.login-wrapper .btn-login {
  margin-top: 10px;
}
.login-wrapper mat-form-field {
  margin: 5px auto;
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
.left .describe {
  width: 65%;
}
.left .logo-brand {
  margin-bottom: 20px;
}
.left .logo-brand span {
  font-weight: 700;
  font-size: 2rem;
}
.text-error {
  color: $red;
  border: 1px solid $red;
  position: relative;
  border-radius: $border-radius;
  // border: 1px solid;
  font-weight: 500;
  background-color: $light-red;
  padding: 12px;
  margin-bottom: 10px;
}

.text-warning {
  color: $orange;
  border: 1px solid $orange;
  position: relative;
  border-radius: $border-radius;
  // border: 1px solid;
  font-weight: 500;
  background-color: $light-orange;
  padding: 12px;
  margin-bottom: 10px;
}
mat-progress-bar {
  position: absolute;
  top: 0;
  z-index: 3;
}