@import "../../variable";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-name {
  margin-left: 30px;
  cursor: pointer;
  letter-spacing: 1px;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}
.my-side-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;

  &-bottom {
    margin-bottom: 20px;
  }
}
mat-nav-list {
  margin-left: 15px;
  margin-right: 15px;
  transition: all 200ms ease;
}
mat-nav-list mat-list-item {
  border-radius: $border-radius;
  font-size: 0.85rem !important;
}
mat-nav-list mat-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.active {
  background: $brown-primary !important;
  box-shadow: $box-shadow;
  color: #fff;
  border-radius: $border-radius;
}
.active img {
  filter: invert(100%);
}
.app-brand {
  height: 60px;
  padding: 0 6px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
