<div class="app-container">
  <mat-progress-bar
    *ngIf="false"
    class="app-progress"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-toolbar class="app-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">FeedNote</h1>
    <span class="app-spacer"></span>
    <div class="avatar" [matMenuTriggerFor]="profilePanel">
      <img src="assets/images/avatar.png" alt="" />
      <span class="user-name">{{ currentUser.name }}</span>
    </div>
    <button
      mat-icon-button
      class="nav-icon favorite-icon"
      style="margin-left: 5px;"
      [matMenuTriggerFor]="notifications"
    >
      <mat-icon
        class="material-icons-outlined app-icon"
        matBadge="2"
        matBadgeColor="warn"
        matBadgeSize="small"
        >notifications</mat-icon
      >
    </button>
    <mat-menu #profilePanel="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['profile']">
        <mat-icon class="material-icons-outlined app-icon"
          >account_circle</mat-icon
        >
        <span>Trang cá nhân</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="material-icons-outlined app-icon">logout</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </mat-menu>
    <mat-menu #notifications="matMenu" xPosition="before">
      <button mat-menu-item>
        <span>Thông báo 1</span>
      </button>
      <button mat-menu-item>
        <span>Thông báo 1</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="app-sidenav-container"
    [style.marginTop.px]="0"
    autosize
  >
    <mat-sidenav #snav mode="side" fixedTopGap="56" [opened]="true">
      <div class="my-side-nav">
        <mat-nav-list>
          <mat-list-item
            mat-list-item
            [routerLink]="nav.path"
            routerLinkActive="active"
            *ngFor="let nav of fillerNav"
            style="word-wrap: break-word;"
          >
            <img [src]="nav.icon" alt="" style="width: 1.25rem" />
            <span *ngIf="isExpanded" style="margin-left: 15px;">{{
              nav.title
            }}</span>
          </mat-list-item>
        </mat-nav-list>

        <div class="my-side-nav-bottom">
          <!-- <small class="font-weight-light text-muted">Phiên bản hiện tại: 1.0</small> -->
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
