<app-loading *ngIf="loading"></app-loading>
<div class="app-container" *ngIf="!loading">
  <mat-sidenav-container
    class="app-sidenav-container"
    [style.marginTop.px]="0"
    autosize
    fullscreen
  >
    <mat-sidenav #snav mode="side" fixedTopGap="56" [opened]="true">
      <div class="my-side-nav">
        <mat-nav-list>
          <div fxLayout="row" fxLayoutAlign="start center" class="app-brand">
            <button mat-icon-button (click)="isExpanded = !isExpanded">
              <mat-icon>{{ isExpanded ? "menu" : "menu_open" }}</mat-icon>
            </button>
            <h2 class="app-name" *ngIf="isExpanded" [routerLink]="['/']">
              FeedN<span class="color-brown">o</span>te
            </h2>
          </div>

          <mat-list-item
            mat-list-item
            [routerLink]="nav.path"
            [matTooltip]="isExpanded ? '' : nav.title"
            [matTooltipPosition]="'right'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="
              nav.path === '/qtv' ? { exact: true } : { exact: false }
            "
            *ngFor="
              let nav of currentUser.role === 'admin' ? adminNav : managerNav
            "
            style="word-wrap: break-word"
          >
            <img [src]="nav.icon" style="width: 1.5rem" />
            <span *ngIf="isExpanded" style="margin-left: 15px">{{
              nav.title
            }}</span>
          </mat-list-item>
        </mat-nav-list>

        <div class="my-side-nav-bottom">
          <mat-nav-list>
            <mat-list-item
              mat-list-item
              [routerLink]="['/trang-ca-nhan']"
              routerLinkActive="active"
              [matTooltip]="isExpanded ? '' : 'Trang cá nhân'"
              [matTooltipPosition]="'right'"
              style="word-wrap: break-word"
            >
              <img
                src="assets/icons/account.svg"
                alt=""
                style="width: 1.5rem"
              />
              <span *ngIf="isExpanded" style="margin-left: 15px"
                >Trang cá nhân</span
              >
            </mat-list-item>
            <mat-list-item
              mat-list-item
              [matTooltip]="isExpanded ? '' : 'Đăng xuất'"
              [matTooltipPosition]="'right'"
              style="word-wrap: break-word"
              (click)="logout()"
            >
              <img src="assets/icons/logout.svg" alt="" style="width: 1.5rem" />
              <span *ngIf="isExpanded" style="margin-left: 15px"
                >Đăng xuất</span
              >
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
