#scroll-to-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 35px;
  z-index: 99;
}

.scroll-to-top {
  position:fixed;
  right: 35px;
  bottom: 15px;
  display: none;
  transition: all 200ms ease;
}

.show-scrollTop {
  display: block;
  transition: all 200ms ease;
}