@import "../../../variable";

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree {
  & ul {
    margin-left: 2rem;
  }
  & li {
    margin: 0;
    padding: 0 15px;
    line-height: 2rem;
    border-left: 1px solid #d9d9d9;
    &:last-child {
      border-left: none;
      &::before {
        border-left: 1px solid #d9d9d9;
        border-bottom-left-radius: $border-radius;
      }
    }
    &::before {
      position: relative;
      top: -0.3em;
      height: 1em;
      width: 22px;
      color: white;
      border-bottom: 1px solid #d9d9d9;
      content: "";
      display: inline-block;
      left: -15px;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.wrapper {
  margin-bottom: 50px;
  position: relative;
}

.count-container {
  padding: 15px 30px;
  & > div > div {
    padding: 0px 15px;
    & .total-user__header span,
    .total-cow-breed__header span,
    .total-food__header span {
      font-size: 0.95rem;
      font-weight: 500;
      color: #adadad;
    }
    & .total-user__body span,
    .total-cow-breed__body span,
    .total-food__body span {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }

  & img {
    width: 30px;
    margin-right: 20px;
  }
}

.chart-container {
  padding: 15px 30px;

  & .chart {
    position: relative;
    // height: 40vh;
    width: 100%;
  }
}

table {
  width: 100%;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}
.mat-column-id {
  width: 80px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 80px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
