<div class="wrapper">
  <div
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
    class="count-container bg-white rounded shadow m-bottom-20"
  >
    <div fxLayout="row" *ngIf="currentUser.role === 'manager'">
      <div fxFlex="1/3" class="total-user">
        <div class="total-user__header">
          <span>Tổng số hộ chăn nuôi đang phụ trách</span>
        </div>
        <div class="total-user__body m-top-20">
          <span *ngIf="breeders; else elseSpan">{{ breeders.totalCount }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="1/3" class="total-cow-breed">
        <div class="total-cow-breed__header">
          <span>Tổng số giống bò</span>
        </div>
        <div class="total-cow-breed__body m-top-20">
          <span *ngIf="cowBreeds; else elseSpan">{{
            cowBreeds.totalCount
          }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="1/3" class="total-cow-food">
        <div class="total-food__header">
          <span>Tổng số loại thức ăn</span>
        </div>
        <div class="total-food__body m-top-20">
          <span *ngIf="foods; else elseSpan">{{ foods.totalCount }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Admin -->
    <div fxLayout="row" *ngIf="currentUser.role === 'admin'">
      <div fxFlex="1/4" class="total-user">
        <div class="total-user__header">
          <span>Tổng số người dùng</span>
        </div>
        <div class="total-user__body m-top-20">
          <span *ngIf="users; else elseSpan">{{ userTypes.totalUser }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="1/4" class="total-user">
        <div class="total-user__header">
          <span>Tổng số quản trị viên</span>
        </div>
        <div class="total-user__body m-top-20">
          <span *ngIf="users; else elseSpan">{{ userTypes.totalAdmin }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="1/4" class="total-user">
        <div class="total-user__header">
          <span>Tổng số cán bộ thú y</span>
        </div>
        <div class="total-user__body m-top-20">
          <span *ngIf="users; else elseSpan">{{ userTypes.totalManager }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="1/4" class="total-user">
        <div class="total-user__header">
          <span>Tổng số hộ chăn nuôi</span>
        </div>
        <div class="total-user__body m-top-20">
          <span *ngIf="users; else elseSpan">{{ userTypes.totalBreeder }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngIf="currentUser.role === 'admin'"
    >
      <div fxFlex="25" class="total-cow-breed">
        <div class="total-cow-breed__header">
          <span>Tổng số giống bò</span>
        </div>
        <div class="total-cow-breed__body m-top-20">
          <span *ngIf="cowBreeds; else elseSpan">{{
            cowBreeds.totalCount
          }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
      <div fxFlex="25" class="total-cow-food">
        <div class="total-food__header">
          <span>Tổng số loại thức ăn</span>
        </div>
        <div class="total-food__body m-top-20">
          <span *ngIf="foods; else elseSpan">{{ foods.totalCount }}</span>
          <ng-template #elseSpan>
            <span style="font-size: 0.85rem">Đang tải...</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="chart-container bg-white rounded shadow m-bottom-20">
    <div fxLayout="column" class="m-bottom-25">
      <div
        class="chart-options"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      >
        <mat-form-field appearance="outline" fxFlex="1/3" *ngIf="breeders">
          <mat-label>Hộ chăn nuôi</mat-label>
          <mat-select [(ngModel)]="selectedBreeder" name="breeder">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let breeder of breeders.items"
              [value]="breeder._id"
            >
              {{ breeder.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1/3" *ngIf="cowBreeds">
          <mat-label>Giống bò</mat-label>
          <mat-select [(ngModel)]="selectedCowBreed" name="cowBreed">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let cowBreed of cowBreeds.items"
              [value]="cowBreed._id"
            >
              {{ cowBreed.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1/3">
          <mat-label>Chọn khoảng thời gian</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
            <input
              matStartDate
              formControlName="from"
              placeholder="Ngày bắt đầu"
            />
            <input
              matEndDate
              formControlName="to"
              placeholder="Ngày kết thúc"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker
            #picker
            [disabled]="false"
          ></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="m-bottom-20">
        <mat-radio-group
          color="primary"
          [(ngModel)]="groupBy"
          fxLayout="row"
          fxLayoutGap="20px"
        >
          <mat-radio-button value="food"
            >Nhóm thông tin theo lượng thức ăn</mat-radio-button
          >
          <mat-radio-button value="period"
            >Nhóm thông tin theo cân nặng</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <app-button
          [buttonContent]="'Xem thông tin'"
          [customClasses]="['app-button-brown']"
          (click)="applyFilter()"
          [disabledCondition]="!canViewChart"
        ></app-button>
        <small class="text-muted"
          >Chọn đầy đủ "Hộ chăn nuôi" và "Giống bò" để xem thông tin</small
        >
      </div>
    </div>
    <mat-divider
      *ngIf="statisticDataByFood || statisticDataByPeriod"
    ></mat-divider>
    <div
      *ngIf="statisticDataByFood || statisticDataByPeriod"
      class="rounded border statistic-info m-top-20 m-bottom-20"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="header rounded-top-left rounded-top-right border-bottom"
        style="background: whitesmoke; height: 50px"
      >
        <span class="font-weight-bold"
          >Thống kê bò theo
          {{ statisticDataByFood ? "lượng thức ăn" : "cân nặng" }}</span
        >
      </div>
      <div class="body p-bottom-20">
        <div fxLayout="row" fxLayoutAlign="center center">
          <ul fxFlex="90" *ngIf="statisticDataByFood" class="tree">
            <li *ngFor="let element of statisticDataByFood">
              <span class="font-weight-bold">{{ element.name }}</span>
              <ul>
                <li *ngFor="let cow of element.cows">
                  <span>{{ "Bò số " + cow.serial }}</span>
                  <ul>
                    <li *ngFor="let food of cow.foods">
                      <span class="m-right-20">{{ food.name + ":" }}</span>
                      <span>{{ food.total + " " + food.unit }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

          <ul fxFlex="90" *ngIf="statisticDataByPeriod" class="tree">
            <li *ngFor="let element of statisticDataByPeriod">
              <span class="font-weight-bold">{{ element.name }}</span>
              <ul>
                <li *ngFor="let cow of element.cows">
                  <span>{{ "Bò số " + cow.serial }}</span>
                  <ul>
                    <li *ngFor="let _weight of cow.weight">
                      <span class="m-right-20">{{
                        "Tuần " + _weight.week + ":"
                      }}</span>
                      <span>{{ _weight.weight + " kg" }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="chart m-top-20"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="15px"
    >
      <canvas id="myChart" #mychart height="100px"></canvas>
    </div>
  </div>
</div>
