<div class="wrapper">
  <div class="container">
    <h2>Không tìm thấy trang yêu cầu</h2>
    <p>
      Có lẽ trang bạn đang tìm không tồn tại hoặc đường dẫn không chính xác.
      Chúng tôi sẽ tự động chuyển bạn đến trang chủ trong vòng 10 giây.
    </p>
    <p>Hoặc bạn có thể quay về trang chủ ngay bằng cách chọn nút bên dưới.</p>

    <app-button
      [customClasses]="['app-button-brown']"
      [buttonType]="'button'"
      [buttonContent]="'Trang chủ'"
      [routerLink]="['/']"
    ></app-button>
  </div>
</div>
