<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-page-loading *ngIf="loading"></app-page-loading>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div
    class="
      d-flex
      align-items-center
      justify-content-between
      app-title
      m-bottom-25
    "
  >
    <h2>Chi tiết</h2>
    <app-button
      [matMenuTriggerFor]="optionsPanel"
      [iconName]="'more_horiz'"
      [customClasses]="['app-button-option']"
    ></app-button>

    <mat-menu #optionsPanel="matMenu" xPosition="before">
      <app-menu-item
        [iconName]="'drive_file_rename_outline'"
        [menuItemContent]="'Cập nhật'"
      ></app-menu-item>
      <mat-divider></mat-divider>
      <app-menu-item
        [iconName]="'delete_outline'"
        [menuItemContent]="'Xoá'"
      ></app-menu-item>
    </mat-menu>
  </div>
  <div class="content">
    <div class="period-list">
      <div class="period-list-item" *ngFor="let nu of nutrition">
        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            period-list-item-header
          "
        >
          <h4>Giai đoạn: {{ nu.name }}</h4>
        </div>

        <div class="period-list-item-content">
          <div
            style="width: 95%; margin: 0 auto"
            class="table-container p-bottom-25"
          >
            <table mat-table [dataSource]="nu.nutrition">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>STT</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Tên</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Hàm lượng</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.amount }}
                </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Đơn vị đo</th>
                <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: displayedColumns"
                style="cursor: pointer"
                class="app-element-row"
                (click)="editNutrition(element.idNutrition)"
              ></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
