<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <app-scroll-to-top></app-scroll-to-top>
  <div class="app-title m-bottom-25">
    <h2>{{ isCreate ? "Thêm mới" : "Chỉnh sửa" }} giống bò</h2>
  </div>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="always"
      >
        <mat-label>Tên giống bò <span class="color-red">(*)</span></mat-label>
        <input type="text" matInput maxlength="100" formControlName="name" />

        <mat-error *ngIf="f.name.errors?.required"
          >Tên giống bò không được trống.</mat-error
        >
        <mat-error *ngIf="f.name.errors?.minlength"
          >Tên giống bò phải có ít nhất 5 ký tự.</mat-error
        >
        <mat-error *ngIf="f.name.errors?.inValid"
          >Tên giống bò không hợp lệ.</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="always"
      >
        <mat-label>Thời gian nuôi <span class="color-red">(*)</span></mat-label>
        <input
          type="number"
          matInput
          id="farmingTime"
          formControlName="farmingTime"
        />

        <mat-hint>Đơn vị: ngày</mat-hint>
        <mat-error *ngIf="f.farmingTime.errors?.required"
          >Thời gian nuôi không được trống.</mat-error
        >
        <mat-error *ngIf="f.farmingTime.errors?.min"
          >Thời gian nuôi phải lớn hơn 10.</mat-error
        >
      </mat-form-field>

      <div class="period-list" formArrayName="periods">
        <div
          class="period-list-item"
          *ngFor="let period of periods.controls; index as i"
        >
          <ng-container [formGroupName]="i">
            <div
              class="
                d-flex
                align-items-center
                justify-content-between
                period-list-item-header
              "
            >
              <h4>Giai đoạn thứ {{ i + 1 }}</h4>
              <app-button-icon
                [customClasses]="['color-red']"
                matTooltip="Xoá"
                (click)="removePeriod(i, period.value, $event)"
                [iconName]="'highlight_off'"
              ></app-button-icon>
            </div>
            <input type="hidden" formControlName="_id" />

            <div class="d-flex justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label
                  >Tên giai đoạn <span class="color-red">(*)</span></mat-label
                >
                <input
                  type="text"
                  matInput
                  formControlName="name"
                  maxlength="100"
                />

                <mat-error
                  *ngIf="periods.controls[i].get('name')?.hasError('required')"
                  >Tên giai đoạn không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('name')?.hasError('minlength')"
                  >Tên giai đoạn ít nhất 5 ký tự.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('name')?.hasError('inValid')"
                  >Tên giai đoạn không hợp lệ.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label
                  >Ngày bắt đầu <span class="color-red">(*)</span></mat-label
                >
                <input type="number" matInput formControlName="startDay" />

                <mat-hint>Đơn vị: ngày</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('startDay')?.hasError('required')
                  "
                  >Ngày bắt đầu không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('startDay')?.hasError('min')"
                  >Ngày bắt đầu trong ít nhất 1.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label
                  >Ngày kết thúc <span class="color-red">(*)</span></mat-label
                >
                <input type="number" matInput formControlName="endDay" />
                <mat-hint>Đơn vị: ngày</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('endDay')?.hasError('required')
                  "
                  >Ngày kết thúc không được trống.</mat-error
                >
                <mat-error
                  *ngIf="
                    periods.controls[i].get('endDay')?.hasError('lessThan')
                  "
                  >Ngày kết thúc phải lớn hơn ngày bắt đầu.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label
                  >Cân nặng <span class="color-red">(*)</span></mat-label
                >
                <input type="number" matInput formControlName="weight" />
                <mat-hint>Đơn vị: kg</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('weight')?.hasError('required')
                  "
                  >Cân nặng không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('weight')?.hasError('min')"
                  >Cân nặng phải trên 10kg.</mat-error
                >
              </mat-form-field>
            </div>
          </ng-container>
        </div>

        <app-button
          [customClasses]="['app-button-green']"
          [buttonContent]="'Thêm giai đoạn'"
          [buttonType]="'button'"
          (click)="addPeriod($event)"
        ></app-button>
      </div>

      <mat-divider></mat-divider>
      <div class="button-group">
        <app-button
          [buttonType]="'submit'"
          [customClasses]="['app-button-brown']"
          [disabledCondition]="!(form.valid && form.dirty) || submitted"
          [showSpinner]="submitted"
          [buttonContent]="!!isCreate ? 'Tạo mới' : 'Cập nhật'"
        ></app-button>

        <app-button
          [buttonType]="'button'"
          [customClasses]="['app-button-grey']"
          [buttonContent]="'Huỷ bỏ'"
        ></app-button>
      </div>
    </form>
  </div>
</div>
