@import "../../../assets/scss/variable";

mat-form-field {
  display: block;
  margin-bottom: 15px;
}

.wrapper {
  padding: 20px 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 60%;
}

.period-list {
  width: 100%;
  display: block;
  margin-bottom: 20px;

  &-item {
    border: 1px solid #d9d9d9;
    border-radius: $border-radius;
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    &-remove {
      position: absolute;
      right: 0;
    }

    &-header {
      height: 50px;
      border-bottom: 1px solid #d9d9d9;
      background-color: #f5f5f5;
      margin-bottom: 20px;
    }
  }
}

.title {
  font-weight: 500;
  color: #333;
  margin-left: 10px;
}

.button-group {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 20px;

  & button:not(:last-child) {
    margin-right: 20px;
  }
}
