<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <app-scroll-to-top></app-scroll-to-top>
  <div class="title">
    <h2>{{ isCreate ? "Thêm mới" : "Chỉnh sửa" }} giống bò</h2>
  </div>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="always"
      >
        <mat-label>Tên giống bò</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ví dụ: Bò vàng"
          maxlength="100"
          formControlName="name"
        />

        <mat-error *ngIf="f.name.errors?.required"
          >Tên giống bò không được trống.</mat-error
        >
        <mat-error *ngIf="f.name.errors?.minlength"
          >Tên giống bò phải có ít nhất 5 ký tự.</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="always"
      >
        <mat-label>Thời gian nuôi</mat-label>
        <input
          type="number"
          matInput
          id="farmingTime"
          placeholder="10"
          formControlName="farmingTime"
        />

        <mat-hint>Đơn vị: ngày</mat-hint>
        <mat-error *ngIf="f.farmingTime.errors?.required"
          >Thời gian nuôi không được trống.</mat-error
        >
        <mat-error *ngIf="f.farmingTime.errors?.min"
          >Thời gian nuôi phải lớn hơn 10.</mat-error
        >
      </mat-form-field>

      <div class="period-list" formArrayName="periods">
        <div
          class="period-list-item"
          *ngFor="let _ of periods.controls; index as i"
        >
          <ng-container [formGroupName]="i">
            <div class="row align-items-center period-list-item-header">
              <span class="title">Giai đoạn {{ i + 1 }}</span>
              <button
                *ngIf="periods.controls.length > 1"
                mat-icon-button
                class="period-list-item-remove"
                matTooltip="Xoá"
                (click)="removePeriod(i)"
              >
                <mat-icon class="material-icons-outlined color-red app-icon"
                  >highlight_off</mat-icon
                >
              </button>
            </div>
            <input type="hidden" formControlName="_id" />

            <div class="row justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label>Tên giai đoạn</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="name"
                  placeholder="Ví dụ: Bò sơ sinh"
                  maxlength="100"
                />

                <mat-error
                  *ngIf="periods.controls[i].get('name')?.hasError('required')"
                  >Tên giai đoạn không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('name')?.hasError('minlength')"
                  >Tên giai đoạn ít nhất 5 ký tự.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label>Số seri</mat-label>
                <input
                  type="number"
                  placeholder="1"
                  matInput
                  formControlName="serial"
                />
                <mat-hint>Đơn vị: kg</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('serial')?.hasError('required')
                  "
                  >Số seri không được trống.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label>Ngày bắt đầu</mat-label>
                <input
                  type="number"
                  placeholder="1"
                  matInput
                  formControlName="startDay"
                />

                <mat-hint>Đơn vị: ngày</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('startDay')?.hasError('required')
                  "
                  >Ngày bắt đầu không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('startDay')?.hasError('min')"
                  >Ngày bắt đầu trong khoảng 1 - 20.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label>Ngày kết thúc</mat-label>
                <input
                  type="number"
                  placeholder="20"
                  matInput
                  formControlName="endDay"
                />
                <mat-hint>Đơn vị: ngày</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('endDay')?.hasError('required')
                  "
                  >Ngày kết thúc không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('endDay')?.hasError('min')"
                  >Ngày kết thúc trong khoảng 20 - 60.</mat-error
                >
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
              <mat-form-field
                appearance="outline"
                style="width: 90%"
                floatLabel="always"
              >
                <mat-label>Cân nặng</mat-label>
                <input
                  type="number"
                  placeholder="10"
                  matInput
                  formControlName="weight"
                />
                <mat-hint>Đơn vị: kg</mat-hint>
                <mat-error
                  *ngIf="
                    periods.controls[i].get('weight')?.hasError('required')
                  "
                  >Cân nặng không được trống.</mat-error
                >
                <mat-error
                  *ngIf="periods.controls[i].get('weight')?.hasError('min')"
                  >Cân nặng phải trên 10kg.</mat-error
                >
              </mat-form-field>
            </div>
          </ng-container>
        </div>

        <button
          mat-raised-button
          class="app-button app-button-green"
          (click)="addPeriod($event)"
        >
          Thêm giai đoạn
        </button>
      </div>

      <mat-divider></mat-divider>
      <div class="button-group">
        <button
          mat-raised-button
          type="submit"
          class="app-button app-button-brown"
          [disabled]="!form.valid || !form.dirty || submitted"
        >
          <mat-spinner
            diameter="16"
            style="display: inline-flex; margin-right: 10px"
            *ngIf="submitted"
          ></mat-spinner>
          {{ !!isCreate ? "Tạo mới" : "Cập nhật" }}
        </button>

        <button
          mat-raised-button
          type="button"
          class="app-button app-button-grey"
          (click)="onReset()"
        >
          Huỷ bỏ
        </button>
      </div>
    </form>
  </div>
</div>
