<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-page-loading *ngIf="loading"></app-page-loading>
<app-back-button [routerLink]="['/qtv/nguoi-dung']"></app-back-button>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div *ngIf="error">
    <h2>Không thể tìm thấy người dùng</h2>
  </div>
  <div *ngIf="!error">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="m-bottom-25"
    >
      <div class="app-title">
        <h2>Chi tiết</h2>
      </div>
      <app-button-icon
        [matMenuTriggerFor]="optionsPanel"
        [iconName]="'more_horiz'"
        matTooltip="Tuỳ chọn"
        *ngIf="user.role !== 'admin'"
      >
      </app-button-icon>

      <mat-menu #optionsPanel="matMenu" xPosition="before">
        <app-menu-item
          [iconName]="'password'"
          [menuItemContent]="'Thay đổi mật khẩu'"
          (click)="resetPassword(user)"
        ></app-menu-item>
        <mat-divider></mat-divider>
        <app-menu-item
          [iconName]="'edit'"
          [menuItemContent]="'Cập nhật'"
          (click)="updateUser(user)"
        ></app-menu-item>
        <mat-divider></mat-divider>
        <app-menu-item
          [iconName]="'delete_outline'"
          [menuItemContent]="'Xoá'"
          (click)="onDelete()"
        ></app-menu-item>
      </mat-menu>
    </div>
    <div class="content">
      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Tên người dùng</span>
        </div>
        <div fxFlex>
          <span>{{ user.name }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Chức vụ</span>
        </div>
        <div fxFlex>
          <span>{{ user.roleName }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15" *ngIf="!!user.idManager">
        <div fxFlex="25">
          <span class="font-weight-bold">Cán bộ phụ trách</span>
        </div>
        <div fxFlex>
          <span *ngIf="manager$ | async as manager">{{
            manager.data.name
          }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Email</span>
        </div>
        <div fxFlex>
          <span>{{ !!user.email ? user.email : "..." }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Số điện thoại</span>
        </div>
        <div fxFlex>
          <span>{{ !!user.phone ? user.phone : "..." }}</span>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Khu vực</span>
        </div>
        <div fxFlex *ngIf="area$ | async as area">
          <span>{{ area.data.name }}</span>
          <a
            target="_blank"
            style="margin-left: 5px; color: #000"
            matTooltip="Bản đồ"
            [href]="'https://www.google.com/maps/place/' + area.data.name"
          >
            <mat-icon class="material-icons-outlined app-icon" style="font-size: 1rem;">place</mat-icon>
          </a>
        </div>
      </div>

      <div fxLayout="row" class="m-bottom-15">
        <div fxFlex="25">
          <span class="font-weight-bold">Ngày tham gia</span>
        </div>
        <div fxFlex>
          <span>{{ user.joinedDate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>