@import "../../../../variable";

table {
  width: 100%;
}

.table-container {
  max-height: 85vh;
  overflow: auto;
}

@media screen and (max-height: 768px) {
  .table-container {
    max-height: 75vh;
    overflow: auto;
  }
}

.search-wrapper {
  margin-bottom: 30px;
  padding: 20px 15px;
  position: relative;
}

.advanced-filter-container {
  position: relative;
  width: 50%;
  text-align: end;
  margin-right: 10px;

  & .filter {
    position: absolute;
    width: 90%;
    background: white;
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    top: 50px;
    right: 0;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.buttons-group :not(:last-child) {
  margin-right: 20px;
}

.diaries-wrapper {
  margin: 0 auto;
  width: 60%;
  min-width: 500px;
}

.diary {
  padding: 30px 50px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: auto;

  &__header {
    display: block;
    width: auto;
    margin-bottom: 20px;
  }

  &__content {
    width: auto;
    display: block;
    margin-bottom: 30px;
  }
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

// tr.app-element-row:not(.app-expanded-row):active {
//   background: #efefef;
// }

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-column-id {
  width: 70px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 70px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-createdAt {
  width: 35% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
