<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-page-loading *ngIf="loading"></app-page-loading>
<div *ngIf="!loading" id="diaries-container">
  <!-- <div class="search-wrapper bg-white shadow rounded">
    <div class="d-flex justify-content-end align-items-baseline">
      <mat-form-field appearance="outline" style="width: 40%" floatLabel="always" class="m-bottom-0">
        <mat-label>Tìm kiếm</mat-label>
        <input type="search" matInput #input (input)="onSearch($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div> -->
  <div class="diaries-wrapper">
    <div class="diary bg-white shadow rounded" *ngFor="let diary of diaries">
      <div class="diary__header">
        <h3>Bò {{ diary.idCow }}</h3>
      </div>
      <div class="diary__content">
        <table mat-table [dataSource]="diary.foods">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>STT</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên thức ăn</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Số lượng</th>
            <td mat-cell *matCellDef="let element">
              {{ element.amount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Đơn vị đo</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unit }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns"
            style="cursor: pointer"
            class="app-element-row"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
          </tr>
        </table>
      </div>
      <div class="diary__footer">
        <span class="text-muted">{{ transformDate(diary.createdAt) }}</span>
      </div>
    </div>
    <div
      *ngIf="diaries.length < totalCount"
      class="d-flex align-items-center justify-content-center m-bottom-25"
    >
      <app-button
        [buttonContent]="'Xem thêm'"
        [customClasses]="['app-button-grey']"
        [showSpinner]="isLoadMore"
        [disabledCondition]="isLoadMore"
        (click)="loadMore()"
      >
      </app-button>
    </div>
  </div>
</div>
