mat-form-field {
  width: 100%;
}

.button-group {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}

.dialog-title {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}