@import "../../../../variable";

table {
  width: 100%;
}

.wrapper {
  margin-bottom: 30px;
  padding: 20px 15px;
  position: relative;
}

.table-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}

.table-wrapper {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 7px 10px;
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.15);

  & .table-container {
    max-height: 450px;
    overflow: auto;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-column-id {
  width: 50px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name,
.mat-column-email {
  width: 20% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-phone {
  width: 15% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-areaName {
  width: calc(100% - 200px - 65%) !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 calc(100% - 200px - 65%) !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
