<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2>{{ !food ? 'Thêm mới' : 'Cập nhật thông tin' }} thức ăn</h2>
    <app-button-icon [iconName]="'close'" matTooltip="Đóng" (click)="onClose()"></app-button-icon>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="dialog-content">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Tên thức ăn</mat-label>
        <input type="text" matInput maxlength="100" formControlName="name" />

        <mat-error *ngIf="f.name.errors?.required">Tên thức ăn không được trống.</mat-error>
        <mat-error *ngIf="f.name.errors?.inValid">Tên thức ăn không hợp lệ.</mat-error>
        <mat-error *ngIf="f.name.errors?.minlength">Tên thức ăn phải có ít nhất 5 ký tự.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Đơn vị đo</mat-label>
        <input type="text" matInput maxlength="100" formControlName="unit" />

        <mat-error *ngIf="f.unit.errors?.required">Đơn vị đo không được trống.</mat-error>
        <mat-error *ngIf="f.unit.errors?.pattern">Đơn vị đo không hợp lệ.</mat-error>
      </mat-form-field>

      <mat-radio-group color="primary" formControlName="type" fxLayout="row" fxLayoutGap="20px" class="m-bottom-20">
        <mat-radio-button value="0">Thức ăn thô</mat-radio-button>
        <mat-radio-button value="1">Thức ăn tinh</mat-radio-button>
      </mat-radio-group>

      <mat-form-field *ngIf="currentUser.role === 'admin'" appearance="outline" style="width: 100%">
        <mat-label>Khu vực</mat-label>
        <mat-select formControlName="idArea">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let area of areas" [value]="area._id">
            {{ area.name }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="f.idArea.errors?.required">Vui lòng chọn khu vực.</mat-error>
      </mat-form-field>

      <div class="ingredient-list" formArrayName="ingredient">
        <div class="ingredient-list-item" *ngFor="let _ingredient of ingredient.controls; index as i">
          <ng-container [formGroupName]="i">
            <input type="hidden" formControlName="idIngredient" />
            <div fxLayout="row" fxLayoutAlign="center center" class="ingredient-list-item-header">
              <span class="font-weight-bold">Thành phần thứ {{ i + 1 }}</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="center" class="m-bottom-20">
              <div fxLayout="row" fxLayoutAlign="center" fxFlex="90">
                <span fxFlex="30" class="font-weight-bold">Tên thành phần</span>
                <span fxFlex>{{ _ingredient.get('name')?.value }}</span>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center" class="m-bottom-20">
              <div fxLayout="row" fxLayoutAlign="center" fxFlex="90">
                <span fxFlex="30" class="font-weight-bold">Mô tả</span>
                <span fxFlex>{{ getDescription(_ingredient.get('name')?.value) }}</span>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center">
              <mat-form-field appearance="outline" style="width: 90%">
                <mat-label>Hàm lượng</mat-label>
                <input type="text" matInput formControlName="amount" />

                <mat-hint>Đơn vị (%)</mat-hint>
                <mat-error *ngIf="ingredient.controls[i].get('amount')?.hasError('required')"
                  >Hàm lượng không được trống.</mat-error
                >
                <mat-error *ngIf="ingredient.controls[i].get('amount')?.hasError('pattern')"
                  >Hàm lượng không hợp lệ.</mat-error
                >
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="button-group" mat-dialog-actions>
      <app-button
        [customClasses]="['app-button-brown']"
        [buttonType]="'submit'"
        [buttonContent]="!food ? 'Tạo mới' : 'Cập nhật'"
        [disabledCondition]="ingredientToRemove.length > 0 ? false : !form.valid || !form.dirty || submitted"
        [showSpinner]="submitted"
      ></app-button>

      <app-button
        [customClasses]="['app-button-grey']"
        [buttonType]="'button'"
        [buttonContent]="'Huỷ bỏ'"
        (click)="onReset()"
      ></app-button>
    </div>
  </form>
</div>
