@import "../../../../variable";

.dialog-title {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dialog-content {
  overflow-y: auto;
}

table {
  width: 100%;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}
.mat-column-id {
  width: 75px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 75px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.feeding-diary {
  & .header {
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $light-grey;
  }
}

.incorrect {
  border-radius: $border-radius;
  background: $light-yellow;
  height: 40px;
  & span {
    color: $text-yellow;
    margin-left: 5px;
  }
}