$brown-primary: #d57149;
$green: #16a34a;
$red: #f44336;
$blue: #2563eb;
$orange: #f97316;
$yellow: #facc15;
$grey: #e7e5e4;

$light-green: #d1e7dd;
$light-red: #f8d7da;
$light-orange: #fff3cd;

$text-green: #0f5132;
$text-red: #842029;
$text-orange: #664d03;

$box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
$border-radius: 6px;
