$brown-primary: #d57149;
$green: #00A400;
$red: #FA383E;
$blue: #1877F2;
$orange: #FB724B;
$yellow: #F7B928;
$grey: #f2f3f5;

$light-green: #d1e7dd;
$light-red: #f8d7da;
$light-orange: #fff3cd;

$text-green: #0f5132;
$text-red: #842029;
$text-orange: #664d03;

$box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
$border-radius: 8px;
