<app-page-loading *ngIf="loading"></app-page-loading>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-back-button [routerLink]="['/cow-breeds', cowBreedId]"></app-back-button>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="app-title m-bottom-25"
  >
    <h2>Thông tin giai đoạn</h2>
    <app-button-icon
      [matMenuTriggerFor]="optionsPanel"
      [iconName]="'more_horiz'"
      matTooltip="Tuỳ chọn"
    >
    </app-button-icon>
    <mat-menu #optionsPanel="matMenu" xPosition="before">
      <app-menu-item
        [iconName]="'edit'"
        [menuItemContent]="'Cập nhật'"
        (click)="updatePeriod(period._id)"
      ></app-menu-item>
      <mat-divider></mat-divider>
      <app-menu-item
        [iconName]="'delete_outline'"
        [menuItemContent]="'Xoá'"
        (click)="onDeletePeriod()"
      ></app-menu-item>
    </mat-menu>
  </div>
  <div class="content">
    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="20">
        <span class="font-weight-bold">Giống bò</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.cowBreedName : "" }}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="m-bottom-15">
      <div fxFlex="20">
        <span class="font-weight-bold">Giai đoạn</span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start">
        <span>{{ period ? period.name : "" }}</span>
      </div>
    </div>
    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="20">
        <span class="font-weight-bold">Ngày bắt đầu</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.startDay : "" }}</span>
      </div>
    </div>

    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="20">
        <span class="font-weight-bold">Ngày kết thúc</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.endDay : "" }}</span>
      </div>
    </div>

    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="20">
        <span class="font-weight-bold">Cân nặng</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.weight : "" }} kg</span>
      </div>
    </div>

    <div class="nutrition m-bottom-15">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="nutrition-header"
      >
        <div></div>
        <span class="font-weight-bold">Bảng nhu cầu dinh dưỡng</span>
        <app-button-icon
          [iconName]="'edit'"
          matTooltip="Cập nhật"
          (click)="updateNutrition(period)"
        ></app-button-icon>
      </div>

      <div class="nutrition-content">
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-15">
          <table
            mat-table
            [dataSource]="
              !period ? [] : period.nutrition ? period.nutrition : []
            "
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên</th>
              <td mat-cell *matCellDef="let element">
                <span [matTooltip]="element.description" matTooltipPosition="after">{{ element.name }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="amountNutrition">
              <th mat-header-cell *matHeaderCellDef>Hàm lượng</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount + " " + element.unit }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="nutritionColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: nutritionColumns"
              style="cursor: pointer"
              class="app-element-row"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="food">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="food-header"
      >
        <div></div>
        <span class="font-weight-bold">Khẩu phần ăn tiêu chuẩn</span>
        <app-button-icon
          [iconName]="'library_add'"
          matTooltip="Thêm mới"
          (click)="onCreateMeal(period)"
        >
        </app-button-icon>
      </div>

      <div class="food-content" style="min-height: 100px;" *ngIf="fetchingMeal">
        <app-loading *ngIf="fetchingMeal"></app-loading>
      </div>

      <div *ngFor="let meal of mealEachArea" class="food-content m-bottom-20">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="m-bottom-10 m-top-15"
        >
          <div fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="20" class="font-weight-bold">Khu vực</span>
            <span fxFlex>{{ meal.areaName }}</span>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="m-bottom-10 m-top-15"
        >
          <div fxFlex="95" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="20" class="font-weight-bold">Thời gian tạo</span>
            <span fxFlex>{{ meal.createdAt }}</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-15">
          <table mat-table [dataSource]="meal.foods">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="foodName">
              <th mat-header-cell *matHeaderCellDef>Tên thức ăn</th>
              <td
                mat-cell
                *matCellDef="let element"
                [routerLink]="['/thuc-an', element._id]"
                class="text-underline-hover cursor-pointer"
              >
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="foodType">
              <th mat-header-cell *matHeaderCellDef>Loại thức ăn</th>
              <td mat-cell *matCellDef="let element">
                {{ element.type }}
              </td>
            </ng-container>

            <ng-container matColumnDef="foodRatio">
              <th mat-header-cell *matHeaderCellDef>Tỉ lệ</th>
              <td mat-cell *matCellDef="let element">
                {{ element.ratio }} %
              </td>
            </ng-container>

            <ng-container matColumnDef="foodAmount">
              <th mat-header-cell *matHeaderCellDef>Số lượng</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount }} {{ element.unit }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mealColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: mealColumns"
              style="cursor: pointer"
              class="app-element-row"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Chưa có dữ liệu</td>
            </tr>
          </table>
        </div>
      </div>

      <div *ngIf="mealEachArea.length === 0" class="food-content m-bottom-20">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="m-bottom-10 m-top-15"
        >
          <span fxFlex="95">Chưa có dữ liệu</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-15">
          <mat-divider fxFlex="95"></mat-divider>
        </div>
      </div>

      <!-- <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-20">
        <div fxFlex="95">
          <app-button
            [buttonContent]="'Thêm mới'"
            [customClasses]="['app-button-green']"
            (click)="onCreateMeal(period)"
          >
          </app-button>
        </div>
      </div> -->
    </div>
  </div>
</div>
