<app-page-loading *ngIf="loading"></app-page-loading>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-back-button [routerLink]="['/giong-bo', cowBreedId]"></app-back-button>
<div *ngIf="!loading" class="wrapper bg-white rounded shadow">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="app-title m-bottom-25"
  >
    <h2>Thông tin giai đoạn</h2>
    <app-button-icon
      [iconName]="'delete'"
      matTooltip="Xoá giai đoạn"
      [customClasses]="['color-red']"
      (click)="onDeletePeriod()"
    >
    </app-button-icon>
  </div>
  <div class="content">
    <div fxLayout="row" fxLayoutAlign="center" class="m-bottom-15">
      <div fxFlex="25">
        <span class="font-weight-bold">Tên giai đoạn</span>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start">
        <span>{{ period ? period.name : "" }}</span>
      </div>
    </div>
    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="25">
        <span class="font-weight-bold">Ngày bắt đầu</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.startDay : "" }}</span>
      </div>
    </div>

    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="25">
        <span class="font-weight-bold">Ngày kết thúc</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.endDay : "" }}</span>
      </div>
    </div>

    <div fxLayout="row" class="m-bottom-15">
      <div fxFlex="25">
        <span class="font-weight-bold">Cân nặng</span>
      </div>
      <div fxFlex>
        <span>{{ period ? period.weight : "" }} kg</span>
      </div>
    </div>

    <div class="nutrition m-bottom-15">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="nutrition-header"
      >
        <span class="font-weight-bold">Bảng nhu cầu dinh dưỡng</span>
      </div>

      <div class="nutrition-content">
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-15">
          <table
            mat-table
            [dataSource]="
              !period ? [] : period.nutrition ? period.nutrition : []
            "
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên</th>
              <td mat-cell *matCellDef="let element">
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Hàm lượng</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount + " " + element.unit }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef colspan="3"></th>
              <td mat-cell *matCellDef="let element">
                <app-button-icon
                  matTooltip="Chỉnh sửa"
                  (click)="$event.stopPropagation()"
                  [iconName]="'edit'"
                  (click)="updateNutrition(period._id, element)"
                ></app-button-icon>
                <app-button-icon
                  matTooltip="Xoá"
                  (click)="$event.stopPropagation()"
                  [iconName]="'delete'"
                  [customClasses]="['color-red']"
                  (click)="onDeleteNutrition(period._id, element.idNutrition)"
                ></app-button-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="nutritionColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: nutritionColumns"
              style="cursor: pointer"
              class="app-element-row"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">Chưa có dữ liệu</td>
            </tr>
          </table>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-20">
          <div style="width: 95%">
            <app-button
              [buttonContent]="'Thêm mới'"
              [customClasses]="['app-button-green']"
              (click)="createNutrition(period._id)"
            >
            </app-button>
          </div>
        </div>
      </div>
    </div>

    <div class="food">
      <div fxLayout="row" fxLayoutAlign="center center" class="food-header">
        <span class="font-weight-bold">Khẩu phần ăn tiêu chuẩn</span>
      </div>

      <div class="food-content">
        <div fxLayout="row" fxLayoutAlign="center center" class="m-bottom-15">
          <table
            mat-table
            [dataSource]="meals ? (meals.length > 0 ? meals[0].foods : []) : []"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>STT</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Tên thức ăn</th>
              <td mat-cell *matCellDef="let element">
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Số lượng</th>
              <td mat-cell *matCellDef="let element">
                {{ element.amount + " " + element.unit }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mealColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: mealColumns"
              style="cursor: pointer"
              class="app-element-row"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="3">Chưa có dữ liệu</td>
            </tr>
          </table>
        </div>

        <div
          *ngIf="!!meals"
          fxLayout="row"
          fxLayoutAlign="start center"
          class="m-bottom-15"
        >
          <div fxFlexOffset="5">
            <span class="font-weight-bold">Khu vực: </span>
            <span>{{ meals.length > 0 ? meals[0].areaName : "" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
