@import "../../../assets/scss/variable";

table {
  width: 100%;
}

.wrapper {
  margin-bottom: 30px;
}

.table-wrapper {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 20px 15px;
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.15);

  & .table-container {
    max-height: 450px;
    overflow: auto;
  }
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-form-field {
  width: 40%;
}

.table-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  max-height: 170px !important;
  min-width: 150px !important;
}
.title-menu,
.content-menu {
  display: block;
}
.title-menu {
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}
.content-menu {
  margin-left: 20px;
}

.mat-column-id {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name {
  width: calc(100% - 200px - 100px - 100px) !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 calc(100% - 200px - 100px - 100px) !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-farmingTime {
  width: 200px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 200px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

tr.app-detail-row {
  height: 0;
  cursor: pointer;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}

.detail-cow-breed {
  padding: 10px;
  min-height: 100px;
  position: relative;

  &-title {
    color: #888;
  }
}
.left {
  width: 140px;
  margin: 2px auto;
}
.right {
  width: calc(100% - 140px);
  margin: 2px auto;
}

.period {
  border: 2px solid #777;
  padding: 10px;
  margin: 10px auto;
}

.foods {
  & table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    & th,
    td {
      border-bottom: 1px solid #d1d1d1;
      text-align: center;
      line-height: 1.5rem;
      word-break: break-all;
    }

    & th:not(:first-child),
    td:not(:first-child) {
      border-left: 1px solid #d1d1d1;
    }
  }
}
.active {
  background: #efefef !important;
}
