@import "../../../variable";

table {
  width: 100%;
}

.wrapper {
  margin-bottom: 30px;
  padding: 20px 15px;
  position: relative;
}

.table-container {
  max-height: 85vh;
  overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-form-field {
  width: 40%;
}

.menu {
  max-height: 170px !important;
  min-width: 150px !important;
}
.title-menu,
.content-menu {
  display: block;
}
.title-menu {
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}
.content-menu {
  margin-left: 20px;
}

.mat-column-id {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name {
  width: calc(100% - 200px - 100px - 100px) !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 calc(100% - 200px - 100px - 100px) !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-farmingTime {
  width: 200px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 200px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  width: 100px !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

tr.app-detail-row {
  height: 0;
  cursor: pointer;
}

tr.app-element-row:not(.app-expanded-row):hover {
  background: whitesmoke;
}

tr.app-element-row:not(.app-expanded-row):active {
  background: #efefef;
}

@media screen and (max-height: 768px) {
  .table-container {
    max-height: 75vh;
    overflow: auto;
  }
}