<app-loading *ngIf="loading || fetching"></app-loading>
<div *ngIf="!loading">
  <header fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2>Tạo khẩu phần thức ăn chuẩn</h2>
    <app-button-icon [iconName]="'close'" matTooltip="Đóng" (click)="onClose()"></app-button-icon>
  </header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <main mat-dialog-content>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Giống bò</mat-label>
        <mat-select
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedCowBreed"
          (selectionChange)="onCowBreedChange()"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let cowBreed of cowBreeds" [value]="cowBreed._id">
            {{ cowBreed.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 100%"
        floatLabel="never"
        [class.mat-form-field-invalid]="!allowCreateMeal"
      >
        <mat-label>Giai đoạn sinh trưởng</mat-label>
        <mat-select
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedCowBreedPeriod"
          [disabled]="!selectedCowBreed"
          (selectionChange)="onCowBreedPeriodChange()"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let period of periods" [value]="period._id">
            {{ period.name }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!allowCreateMeal" class="color-red">Nhu cầu dinh dưỡng của giai đoạn không phù hợp.</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('idArea')" appearance="outline" style="width: 100%">
        <mat-label>Khu vực</mat-label>
        <mat-select formControlName="idArea" (selectionChange)="onAreaChange($event)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let area of areas" [value]="area._id">
            {{ area.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('idArea')?.errors?.required">Vui lòng chọn khu vực.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Thức ăn</mat-label>
        <mat-select
          multiple
          formControlName="idsFood"
          #select
          (selectionChange)="onFoodChange($event)"
          [disabled]="fetching"
        >
          <mat-optgroup *ngFor="let food of foods" [label]="food.type">
            <ng-container *ngIf="food.items.length === 0">
              <mat-option disabled>Chưa có thức ăn</mat-option>
            </ng-container>
            <mat-option *ngFor="let item of food.items" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-hint>Vui lòng chọn 2 loại thức ăn thô và 1 loại thức ăn tinh.</mat-hint>
        <mat-error *ngIf="form.get('idsFood')?.errors?.required">Vui lòng chọn thức ăn.</mat-error>
      </mat-form-field>
    </main>

    <footer mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <app-button
        [buttonContent]="'Khởi tạo'"
        [customClasses]="['app-button-brown']"
        [showSpinner]="submitted"
        [disabledCondition]="!form.valid || submitted || !isValidFood || !selectedCowBreedPeriod || !allowCreateMeal"
        [buttonType]="'submit'"
      ></app-button>

      <app-button [buttonContent]="'Huỷ bỏ'" [customClasses]="['app-button-grey']" (click)="onClose()"></app-button>
    </footer>
  </form>
</div>
